<div class="row">    
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span>HORIZONTAL FORM</span>
            <div class="widget-controls">              
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
        </div>
        <div class="card-body widget-body">

            <h6 class="card-title text-center">To enjoy more, sing in!</h6>

            <form class="form-horizontal">
                <div class="form-group row text-sm-right">
                    <label for="email-h-f" class="col-sm-3 form-control-label m-t-5">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email-h-t">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password-h-f">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Re Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="re-password-h-f">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                            <label class="custom-control-label" for="checkbox-h-f">Keep me signed in</label>
                        </div>
                        <button class="btn btn-main pull-right" type="submit">Sign in</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
 

  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
      <div widget class="card">
          <div class="card-header">
              <span>HORIZONTAL FORM</span>
              <div class="widget-controls">              
                  <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                  <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                  <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                  <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                  <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
              </div>        
          </div>
          <div class="card-body widget-body">

              <h6 class="card-title text-center">To enjoy more, sing in!</h6>

              <form class="form-horizontal">
                  <div class="form-group row text-sm-right">
                      <label for="email-h-f" class="col-sm-3 form-control-label m-t-5">Email</label>
                      <div class="col-sm-9">
                          <input type="email" class="form-control" id="email-h-t">
                      </div>
                  </div>
                  <div class="form-group row text-sm-right">
                      <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Password</label>
                      <div class="col-sm-9">
                          <input type="password" class="form-control" id="password-h-f">
                      </div>
                  </div>
                  <div class="form-group row text-sm-right">
                      <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Re Password</label>
                      <div class="col-sm-9">
                          <input type="password" class="form-control" id="re-password-h-f">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                              <label class="custom-control-label" for="checkbox-h-f">Keep me signed in</label>
                          </div>
                          <button class="btn btn-main pull-right" type="submit">Sign in</button>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>

</div>

<div class="row">    
  
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span>HORIZONTAL FORM</span>
            <div class="widget-controls">              
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
        </div>
        <div class="card-body widget-body">

            <h6 class="card-title text-center">To enjoy more, sing in!</h6>

            <form class="form-horizontal">
                <div class="form-group row text-sm-right">
                    <label for="email-h-f" class="col-sm-3 form-control-label m-t-5">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email-h-t">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password-h-f">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Re Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="re-password-h-f">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                            <label class="custom-control-label" for="checkbox-h-f">Keep me signed in</label>
                        </div>
                        <button class="btn btn-main pull-right" type="submit">Sign in</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-xl-6 col-lg-6 col-12 bottom-30">
  <div widget class="card">
      <div class="card-header">
          <span>HORIZONTAL FORM</span>
          <div class="widget-controls">              
              <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
              <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
              <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
              <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
              <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
          </div>        
      </div>
      <div class="card-body widget-body">

          <h6 class="card-title text-center">To enjoy more, sing in!</h6>

          <form class="form-horizontal">
              <div class="form-group row text-sm-right">
                  <label for="email-h-f" class="col-sm-3 form-control-label m-t-5">Email</label>
                  <div class="col-sm-9">
                      <input type="email" class="form-control" id="email-h-t">
                  </div>
              </div>
              <div class="form-group row text-sm-right">
                  <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Password</label>
                  <div class="col-sm-9">
                      <input type="password" class="form-control" id="password-h-f">
                  </div>
              </div>
              <div class="form-group row text-sm-right">
                  <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Re Password</label>
                  <div class="col-sm-9">
                      <input type="password" class="form-control" id="re-password-h-f">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                          <label class="custom-control-label" for="checkbox-h-f">Keep me signed in</label>
                      </div>
                      <button class="btn btn-main pull-right" type="submit">Sign in</button>
                  </div>
              </div>
          </form>

      </div>
  </div>
</div>

</div>
<div class="row">    
  
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card collapsed">
        <div class="card-header">
            <span>HORIZONTAL FORM</span>
            <div class="widget-controls">              
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
        </div>
        <div class="card-body widget-body">

            <h6 class="card-title text-center">To enjoy more, sing in!</h6>

            <form class="form-horizontal">
                <div class="form-group row text-sm-right">
                    <label for="email-h-f" class="col-sm-3 form-control-label m-t-5">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email-h-t">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password-h-f">
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Re Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="re-password-h-f">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                            <label class="custom-control-label" for="checkbox-h-f">Keep me signed in</label>
                        </div>
                        <button class="btn btn-main pull-right" type="submit">Sign in</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

</div>