<p>Angular Toastr - built with <a href="https://github.com/scttcper/ngx-toastr" target="_blank">ngx-toastr</a></p>
  
<div class="row justify-content-center">            
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="toastTitle">Title</label>
              <input [(ngModel)]="title" type="text" class="form-control" id="toastTitle" placeholder="Toast title">
            </div>
            <div class="form-group">
              <label for="toastMessage">Message</label>
              <textarea [(ngModel)]="message" rows="3" class="form-control" id="toastMessage" placeholder="Toast message"></textarea>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxEnableHtml" [(ngModel)]="options.enableHtml">
                    <label class="custom-control-label" for="checkboxEnableHtml">Enable Html</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxDismiss" [(ngModel)]="options.tapToDismiss">
                    <label class="custom-control-label" for="checkboxDismiss">Tap to dismiss</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxCloseButton" [(ngModel)]="options.closeButton">
                    <label class="custom-control-label" for="checkboxCloseButton">Close button</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxPreventDuplicates" [(ngModel)]="options.preventDuplicates">
                    <label class="custom-control-label" for="checkboxPreventDuplicates">Prevent duplicates</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxNewToasts" [(ngModel)]="options.newestOnTop">
                    <label class="custom-control-label" for="checkboxNewToasts">New toasts on top</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkboxProgressBar" [(ngModel)]="options.progressBar">
                    <label class="custom-control-label" for="checkboxProgressBar">Progress bar</label>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="toastTimeout">Timeout</label>
              <input [(ngModel)]="options.timeOut" type="text" class="form-control" id="toastTimeout" aria-describedby="toastTimeoutHelp">
              <small id="toastTimeoutHelp" class="form-text text-muted">0 never expires</small>
            </div>
            <div class="form-group">
              <label for="maxNumberToasts">Maximum Toasts</label>
              <input [(ngModel)]="toastrService.toastrConfig.maxOpened" type="text" class="form-control" id="maxNumberToasts" aria-describedby="maxNumberToastsHelp">
              <small id="maxNumberToastsHelp" class="form-text text-muted">0 is no limit</small>
            </div>
            <div class="form-group">
              <label for="toastExtendedTimeout">Extended Timeout</label>
              <input type="text" [(ngModel)]="toastrService.toastrConfig.extendedTimeOut" class="form-control" id="toastExtendedTimeout">
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checkbox-main" id="checkboxAutoDismiss" [(ngModel)]="toastrService.toastrConfig.autoDismiss">
                <label class="custom-control-label" for="checkboxAutoDismiss">Auto dismiss on max</label>
            </div>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
                <label>Toast type</label>
                <div class="custom-control custom-radio">
                    <input type="radio" name="typeRadios" class="custom-control-input radio-success" id="radioSuccess" [(ngModel)]="type" value="success">
                    <label class="custom-control-label" for="radioSuccess">Success</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="typeRadios" class="custom-control-input radio-info" id="radioInfo" [(ngModel)]="type" value="info">
                    <label class="custom-control-label" for="radioInfo">Info</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="typeRadios" class="custom-control-input radio-warning" id="radioWarning" [(ngModel)]="type" value="warning">
                    <label class="custom-control-label" for="radioWarning">Warning</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="typeRadios" class="custom-control-input radio-danger" id="radioDanger" [(ngModel)]="type" value="error">
                    <label class="custom-control-label" for="radioDanger">Error</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label>Toast position</label>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-top-right" [(ngModel)]="options.positionClass" value="toast-top-right">
                    <label class="custom-control-label" for="toast-top-right">Top Right</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-bottom-right" [(ngModel)]="options.positionClass" value="toast-bottom-right">
                    <label class="custom-control-label" for="toast-bottom-right">Bottom Right</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-bottom-left" [(ngModel)]="options.positionClass" value="toast-bottom-left">
                    <label class="custom-control-label" for="toast-bottom-left">Bottom Left</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-top-left" [(ngModel)]="options.positionClass" value="toast-top-left">
                    <label class="custom-control-label" for="toast-top-left">Top Left</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-top-full-width" [(ngModel)]="options.positionClass" value="toast-top-full-width">
                    <label class="custom-control-label" for="toast-top-full-width">Top Full Width</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-bottom-full-width" [(ngModel)]="options.positionClass" value="toast-bottom-full-width">
                    <label class="custom-control-label" for="toast-bottom-full-width">Top Bottom Width</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-top-center" [(ngModel)]="options.positionClass" value="toast-top-center">
                    <label class="custom-control-label" for="toast-top-center">Top Center</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="positionRadio" class="custom-control-input radio-main" id="toast-bottom-center" [(ngModel)]="options.positionClass" value="toast-bottom-center">
                    <label class="custom-control-label" for="toast-bottom-center">Bottom Center</label>
                </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <p class="mb-0 mt-1">Toast Controls:</p>
            <button (click)="openToast()" type="button" role="button" class="btn btn-primary">Open Toast</button>
            <button (click)="clearLastToast()" type="button" role="button" class="btn btn-secondary">Clear Last Toast</button>
            <button (click)="clearToasts()" type="button" role="button" class="btn btn-secondary">Clear All Toasts</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>